# Apryse WebViewer license key, exposed to the client bundle by Vite.
# Copy this file to `.env` and set your key. Vite only exposes variables
# prefixed with VITE_ to client code (via import.meta.env).
VITE_WEBVIEWER_LICENSE_KEY=
